body{
    background-color: rgb(216, 88, 88);
}
h1{
    color: rgb(247, 217, 203);
}
p{
    color: antiquewhite;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
#minha-div{
    border: 3px solid #e97f7f;
}